<div>
  <table class="table" *ngIf="products$.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products$">
        <td *ngIf="p.qty !== 0">{{p.name}}</td>
        <td *ngIf="p.qty !== 0">{{p.qty}}</td>
        <td *ngIf="p.qty !== 0">{{p.price | currency: 'EUR': 'symbol'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>{{totalAmount() | currency: 'EUR': 'symbol'}}</td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="products$.length == 0">
    <p>No Product Added</p>
  </div>
</div>
