.img-width {
  width: 8%;
}

.img-cart-align {
  text-align: end;
  padding-right: 35px;
}

.badge {
  color: #ffdb58;
  font-weight: 900;
  font-size: 0.9em;
}

.user-icon {
  width: 6%;
  height: 6%;
  border-radius: 50px;
}
